<div class='author_row'>
    <h2 class="page_header"><%= author.name %></h2>
    <div class='btn_row'>
        <a class='btn btn_primary' href='/authors/<%= author.id%>/edit'>Edit</a>
        <form action="/authors/<%=author.id %>?_method=DELETE" method="POST">
            <button class='btn btn_danger' type="submit">Delete</button>
        </form>
    </div>  
</div>
<br>
<%- include('../partials/bookGrid', {books: books, large: true}) %>